

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" href="#">Just todo it &#9989;</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarNav">
        <ul class="navbar-nav ml-auto">

              {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logoutUser' %}">Log Out</a>
                    </li>

              {% else %}
                  <li class="nav-item">
                      {% if request.path == "/account/register/" %}
                        <a class="nav-link active" href="{% url 'register' %}">Sign Up <span class="sr-only">(current)</span></a>
                      {% else %}
                        <a class="nav-link" href="{% url 'register' %}">Sign Up <span class="sr-only">(current)</span></a>
                      {% endif %}

                  </li>
                  <li class="nav-item">
                      {% if request.path == "/account/login/" %}
                        <a class="nav-link active" href="{% url 'loginUser' %}">Log In <span class="sr-only">(current)</span></a>
                      {% else %}
                        <a class="nav-link" href="{% url 'loginUser' %}">Log In  <span class="sr-only">(current)</span></a>
                      {% endif %}
                  </li>
              {% endif %}

        </ul>
      </div>
        </div>

    </nav>